{% extends 'base_public.html' %}
{% load thumbnail %}
{% block title %}{{ den.title }}{% endblock %}
{% block content_title %}{{ den.title|truncatechars:50 }}{% endblock %}
{% block content %}

    {#    AJAX#}
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.0/jquery.min.js"></script>
    <script>
        (function( $ )
        {
            window.IMGS  = {};
            IMGS.lastID  = 0;
            IMGS.Url     = '{% url search_it %}apilist/{{ den.slug }}/';
            IMGS.Log     = []; // array of image IDs
            IMGS.Refresh = function()
            {
                $.getJSON( IMGS.Url, function( data )
                {
                    var obj   = {};
                    var tmp   = [];
                    var id    = 0;
                    var cls   = '';
                    var html  = '';

                    // new images will have a css class called "newimg"..
                    $.each( data, function()
                    {

                        obj   = $( this ).get( 0 );
                        id    = parseInt( obj.pk );
                        cls   = ( $.inArray( id, IMGS.Log ) > -1 ) ? '' : ' newimg';
                        html += '<div class="imgr'+ cls +'"><a href="{% url search_it %}detail/'+ obj.pk +'"><img src="{{ MEDIA_URL }}' + obj.fields.thumbnail + '.202x158_q85_crop.jpg" alt="" /></a></div>';
                        tmp.push( id );
                    });

                    // show new images only if last ID has changed

                    if( IMGS.lastID != id )
                    {
                        IMGS.lastID = id;
                        IMGS.Log = tmp;
                        // add all images to wrapper
                        $( '#do-work' ).html( html );
                        // fade in only new ones
                        $( '#do-work .newimg' ).stop().animate( { opacity:1 } );
                    }

                    // check again in 3 seconds
                    setTimeout( IMGS.Refresh, 3000 );
                });
            };
        })( jQuery );

        $(function()
        {
            // start the loop
            IMGS.Refresh();
        });

    </script>




    <div style='min-height: 2000px'>

        <div id="do-work">
            <div class="search_bg">
                <p>This might be the first time anyone has searched for {{ den.title }} on ImagesDen... <br>
                    Please wait just a moment as we scour the INTERWEBZ.</p>
                <img style="margin-top:100px; margin-left:295px" src="{{ STATIC_URL }}images/ajax-loader.gif" /></div>
            {#   Make animated gif of searching logos maybe?#}
        </div>

    </div>

{% endblock %}